<div>
	<div class="row" >
	  <ul class="col-sm-6 col-md-4" ng-repeat="date in dates">
	    <div class="thumbnail" ui-sref="detail({index: $index})">
		      <img src="src/foto/1.jpg" alt="...">
		      	<div class="caption ">
		        	<div class="name">
		        		<a href="" class="name-text">{{date.title}}</a>
		        	</div>
			        <div class="price">
				        <span class="price-old">{{date.price}} грн</span>
				        <strong class="price-new">{{date.price-(date.price*date.sale)/100}} грн</strong>
			        </div>
		      </div>
      		<p class="text-center">
      			<a  href="#" class="btn btn-default " role="button">в корзину</a>
      		</p>
	    </div>
	  </ul>
	</div>
</div>





