<div>
	<h4>ФИЛЬТР ТОВАРОВ</h4>
	<h5>Коллекция</h5>
	<ul> 
		<li>
			<input type="checkbox" >
			<span>Сезон «весна-лето» ({{2565}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>Сезон «осень-зима» ({{25}})</span>
		</li>
	</ul>

	<h5>Модель</h5>
	<ul> 
		<li>
			<input type="checkbox" >
			<span>Брюки ({{6}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>Юбки ({{25}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>Платья ({{75}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>Блузы ({{23}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>Майки ({{4}})</span>
		</li>

	</ul>

<!-- 	<h4>НОВОСТИ</h4>
	<ul>
		<li>
			<span>15.06.2015</span>
			<strong>Акция "Лето-2016"</strong>
			<span>Летняя  акция от производителя молодежной женской одежды</span>
		</li>
		<li>
			<span>10.06.2015</span>
			<strong>Скидки</strong>
			<span>покупя летнюю одежду по карточке</span>
		</li>
	</ul> -->
</div>