<div ng-model="leftMenu">
	<h4><strong>ФИЛЬТР ТОВАРОВ</strong></h4>
	<h5><strong>Коллекция:</strong></h5>
	<ul> 
		<li>
			<label><input type="checkbox" 
						  name="" 
						  ui-sref="summer()" 
						  ng-click="clickCheckbox('summer')"
						  ng-model="filtersCollection.summer" 
						  /> {{filtersCollection.summer}}Сезон «лето» ({{leftMenu.summer.length}})</label>
		</li>
		<li>
			<label><input type="checkbox" 
						  name="" 
						  ui-sref="winter()" 
						  ng-model="filtersCollection.winter" 
						  ng-click="clickCheckbox('winter')"
						  /> Сезон «зима» ({{leftMenu.winter.length}})</label>
		</li>
		<li>
			<label><input type="checkbox" 
						  name="" 
						  ng-click="clickCheckbox('autumn')" 
						  ng-checked="filtersCollection.autumn" 
						  /> Сезон «осень» ({{leftMenu.autumn.length}})</label>
		</li>
		<li>
			<label><input type="checkbox" 
						  name="" 
						  ng-click="clickCheckbox('spring')" 
						  ng-checked="filtersCollection.spring" 
						  /> Сезон «весна» ({{leftMenu.spring.length}})</label>
		</li>
		<!-- <pre>{{checkedCollection|json}}</pre> -->
	</ul>

	<h5><strong>Модель</strong></h5>
	<ul> 
		<li>
			<input type="checkbox" >
			<span>Брюки ({{6}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>Юбки ({{25}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>Платья ({{75}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>Блузы ({{23}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>Майки ({{4}})</span>
		</li>

	</ul>

	<h5><strong>Наличие</strong></h5>
	<ul> 
		<li>
			<input type="checkbox" >
			<span>есть ({{6}})</span>
		</li>
		<li>
			<input type="checkbox" >
			<span>нету ({{25}})</span>
		</li>
	</ul>
<!-- 	<div ng-controller="filtersCollectionsController">
  		<a href="#" class="btn btn-default" ng-click="applyFilters()" role="button" >Применить</a>
  	</div> -->

<!-- 	<h4>НОВОСТИ</h4>
	<ul>
		<li>
			<span>15.06.2015</span>
			<strong>Акция "Лето-2016"</strong>
			<span>Летняя  акция от производителя молодежной женской одежды</span>
		</li>
		<li>
			<span>10.06.2015</span>
			<strong>Скидки</strong>
			<span>покупя летнюю одежду по карточке</span>
		</li>
	</ul> -->
</div>