<div class='container'>
	<div class="col-md-12">
		<div class="col-md-4">
			<a href="#"><img src="/src/img/footer/logos_footer.png" alt=""></a>
			<span>Подписывайтесь!   Наши социальные каналы</span>
			<ul class="icons">
				<li class="ico-fb"><a href="#"><img src="" alt=""></a></li>
				<li class="ico-vk"><a href="#"><img src="" alt=""></a></li>
				<li class="ico-od"><a href="#"><img src="" alt=""></a></li>
				<li class="ico-gp"><a href="#"><img src="" alt=""></a></li>
				<li class="ico-tw"><a href="#"><img src="" alt=""></a></li>
				<li class="ico-ig"><a href="#"><img src="" alt=""></a></li>
				<li class="ico-fq"><a href="#"><img src="" alt=""></a></li>
			</ul>

			<p>Copyright © 2013-2016 Все права защищены</p>
		</div>

		<div class="col-md-3">
			<h3>Информация</h3>
			<ul>
				<li><a href="">Каталог товара</a></li>
				<li><a href="">Распродажа</a></li>
				<li><a href="">Архив товара</a></li>
				<li><a href="">Доставка и оплата</a></li>
				<li><a href="">Таблица размеров</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
		</div>

		<div class="col-md-5">
			<h3>Магазин женской одежды от производителя в Харькове</h3>
			<p><a href="">Харьков, ул. ddddd, Барабашово, Маг. Магазин на карте <img src="/src/img/footer/icon-marker.png" alt=""> (карта)</a></p>

			<ul>
				<li>
					<img src="/src/img/footer/icon-phone.png" alt="">
					<a href="">(066) 248 77 22</a>
				</li>
				<li>
					<img src="/src/img/footer/icon-phone.png" alt="">
					<a href="">(098) 909 19 56</a>
				</li>
				<li>
					<img src="/src/img/footer/icon-skype.png" alt="">
					<a href="">скайп: moda.com</a>
				</li>
				<li>
					<img src="/src/img/footer/icon-email.png" alt="">
					<a href="">почта moda</a>
				</li>	
			</ul>

		</div>

	</div>
</div>