<div>
	<div class="row" ng-modal="dates">
	  <h3>{{dates.title}}</h3>
	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
		      <img src="src/foto/{{dates.images[0].mainImage}}.jpg" >
	    </div>
	    <div >
	    	<div class="row">
			  <div class="col-xs-6 col-md-4" ng-repeat="images in dates.images[0].productGallery">
			    <a href="#" class="thumbnail">
			      <img src="src/foto/{{images}}.jpg" >
			    </a>
			  </div>
			</div>
	    </div>
	  </div>
	    <div class="caption ">
		<p><span>О продукте:</span> {{dates.description}} <p>
		<p><span>Коллекция:</span> {{dates.season}} <p>
		<p><span>Состав:</span> {{dates.atribut}} <p>
		<p><span>Производитель:</span> {{dates.composition}} <p>
		<p><span>Артикул:</span> {{dates.article}} <p>
		<p><span>Наличие:</span> {{dates.available}} <p>
		<p><span>Размер:</span> {{dates.size}} <p>

        <div class="">
	        <span class="">{{dates.price}} грн</span> 
	        <strong class=""><span>Цена:</span> {{dates.price-(dates.price*dates.sale)/100}}</strong>
        </div>
		</div>
  		<p>
  			<a  href="#" class="btn btn-default " role="button">в корзину</a>
  		</p>
	</div>
</div>
