<div class="wrapper ">
	<div class="row" >
	    <div class="container" ng-controller="rootController">
			<stil-left-column ng-controller="leftColumnController" class="col-md-3"></stil-left-column>

			<div ui-view=cont ></div>
			<!-- //<h1>PAGE PRODUCT</h1> -->

			<div class="container">
			<div class="col-md-12 text-center">

				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">...</a></li>
				    <li><a href="#">5</a></li>
				    <li><a href="#">6</a></li>
				    <li><a href="#">7</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
			</div >
		</div>
		
	    </div>
	</div>
</div>