<div class="row text-center">
	<!-- <div class="collapse navbar-collapse " > -->
	    <ul class="col-md-12 nav navbar-nav navbar-background">
	    	<!-- <div class="colmd-offset-1"> -->
	        <li ng-class="{ active: isActive('/')}" ui-sref="home()" ><a href="/">Home</a></li>
	        <li ng-class="{ active: isActive('/about')}" ui-sref="about()"><a href="/about">О НАС</a></li>
	        <li ng-class="{ active: isActive('/product')}"><a href="/product">КАТАЛОГ</a></li>
	        <li ng-class="{ active: isActive('/sale')}"><a href="/sale">РАСПРОДАЖА</a></li>
	        <li ng-class="{ active: isActive('/arhivе')}"><a href="/arhivе">АРХИВ</a></li>
	        <li ng-class="{ active: isActive('/sizes')}"><a href="/sizes">ТАБЛИЦА РАЗМЕРОВ</a></li>
	        <li ng-class="{ active: isActive('/payments-and-deliveses')}"><a href="/payments-and-deliveses">ДОСТАВКА И ОПЛАТА</a></li>
	        <li ng-class="{ active: isActive('/contact')}"><a href="/contact">КОНТАКТЫ</a></li>
	        <!-- </div> -->
	    </ul>
	<!-- </div> -->
</div>

